#project-wrapper {
    position: relative;
    width: 100%;
    min-height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff9e6; */
    font-family: 'NanumGothic', sans-serif;
}

#project-container {
    max-width: 1500px;
    width: 90%;
    /*    overflow: hidden; */
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

/* 화살표 버튼 */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 22px;
    color: #60493A;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10;
}

.arrow:hover {
    background-color: #f5e1c0;
}

.arrow.left {
    left: 80px; /* 기존 40px → 10px */
}

.arrow.right {
    right: 80px; /* 기존 40px → 10px */
}
